body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    background-color: #fbf9fd;
}

.file {
    padding: 2px;
}

.file__name, .file__type {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.file__name {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file.--selected {
    background-color: #ebebec;
}

.file.--directory {
    font-weight: 600;
}

.filelist {
    padding: 10px;
    margin-bottom: 200px;
}

.position {
    padding: 10px;
}

.position__segment {
    display: inline-block;
    margin-right: 10px;
}

i {
    vertical-align: middle;
    font-size: 12pt;
    color: #adadad;
    margin-right: 10px;
}

.console {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid grey;
    height: 200px;
    background-color: #fbf9fd;
}

input.commandline {
    width: 100%;
    position: absolute;
    bottom: 0px;
}
